@charset "utf-8";

:root {
    --swiper-theme-color: #007aff;
}
:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: hsla(0,0%,100%,.7);
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-color-progress-light: linear-gradient(90deg,#4cd964,#5ac8fa,#007aff,#34aadc,#5856d6,#ff2d55);
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
}
html {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

.a11y-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
}

.css-19kqqz7 {
    height: 78px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 16px;
}

.css-it8fze {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    gap: 15px;
}    

.css-jalj31 {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 41px;
    padding: 0px 12px;
    border-radius: 12px;
    color: rgb(115, 121, 126);
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.css-1oli899 {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 41px;
    padding: 0px 12px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 138, 148);
}

.css-16zu9k {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 13px;
    font-size: 15px;
    font-weight: bold;
    line-height: normal;
    color: rgb(63, 70, 76);
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
}
button {
    margin: 0;
    padding: 0;
    border: 0 none;
    background-color: transparent;
    color: black;
    text-align: left;
    outline: none;
    cursor: pointer;
}
button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.css-kwi5kk {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: rgb(63, 70, 76);
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
}
.css-c9fies {
    display: flex;
    flex-direction: row;
}
.css-n5fagy {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    width: 285px;
    height: 44px;
    gap: 4px;
    padding: 0px 12px;
    margin-right: 12px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 8px;
    background-color: rgb(249, 250, 251);
}

.css-111o5ku {
    transform: rotate(0deg);
}
img {
    border-style: none;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.css-t6ly1j {
    position: relative;
    display: flex;
    flex-direction: row;
    
}
}

.css-t6ly1j {
    display: none;
}



element.style {
}

.css-1iwk1g9 {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
* {
    box-sizing: border-box;
    -webkit-touch-callout: none;
}

div {
    display: block;
}
body {
    color: #191E23;
    font-family: Pretendard,-apple-system,BlinkMacSystemFont,system-ui,"Segoe UI","Apple SD Gothic Neo","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",sans-serif;
    font-size: 14px;
}

@media screen and (min-width: 972px) {
.css-1c8isl7 {
    -webkit-box-pack: center;
    justify-content: center;
    max-height: 78px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(228, 230, 231);
}
}

.css-1c8isl7 {
    position: fixed;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    top: 0px;
    width: 100%;
    z-index: 150;
    min-height: 64px;
    padding: 0px 20px;
    background-color: rgb(255, 255, 255);
    transition: background-color 200ms ease 0s;
    border-bottom: 1px solid rgb(228, 230, 231);
}


header {
    display: block;
}

@media screen and (min-width: 1281px) {
.css-ppjb5q {
    max-width: 1280px;
}
}

.css-ppjb5q {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}


div {
    display: block;
}

.css-1dbjdmt {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    padding-bottom: 1px;
}

ul, ol, li {
    list-style: none;
}
ul, ol {
    margin: 0;
    padding: 0;
    border: 0 none;
}


ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

a, a:link, a:visited, a:hover, a:active {
    color: #191E23;
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
}
a {
    background-color: transparent;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    /* text-decoration: underline; */
}

.css-1l34kjw {
    position: relative;
    top: -1.5px;
    width: 100px;
    height: 28px;
    display: flex !important;
    align-items: center !important;
}

nav.css-1dvrgo5 {
}

.css-1dvrgo5 {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}


@media screen and (min-width: 972px) {
.css-hlzdnb {
    padding: 24px 46px 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-column-gap: 11px;
    column-gap: 11px;
    row-gap: 24px;
}
}



img {
    width: auto;
    aspect-ratio: auto 44 / 44;
    /* height: 44px; */
}

.css-10c2ecp {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
    padding: 0px 8px;
    gap: 4px;
    
}

h1, h2, h3, h4, h5, h6, p, span, label {
    margin: 0;
    overscroll-behavior: none -moz-user-select:none -webkit-user-select:none -ms-user-select:none user-select:none;
}
.css-12ute6a {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.css-1sp81sz {
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: #e5e5e5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.css-xq04da {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    width: 908px;
    gap: 16px;
    margin-top: 40px;
}

.css-1kfuymr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.css-1qpeh2n {
    padding-bottom: 60px;
}

@media screen and (min-width: 972px) {
.css-h5gv7h {
    padding-top: 78px;
}
}
.css-h5gv7h {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-bottom: 0px;
}
main {
    display: block;
}

.jfGgpS {
    position: fixed;
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    overflow: visible;
    background: transparent;
    bottom: 26px;
    right: 8px;
}

.dlyGCd {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: visible;
    cursor: pointer;
}


button {
    box-sizing: border-box;
    width: auto;
    padding: 0px;
    margin: 0px;
    overflow: visible;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-family: NotoSansKR, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "맑은 고딕", "Segoe UI", Roboto, "system-ui", "sans-serif";
    line-height: inherit;
    color: inherit;
    text-shadow: transparent 0px 0px 0px;
    letter-spacing: inherit;
    background: transparent;
    border: 0px solid transparent;
    box-shadow: transparent 0px 0px 0px;
}

.gXXJcR {
    width: 100px;
    height: 100px;
}



.css-n5fagy p {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: rgb(150, 155, 158);
}

@media screen and (min-width: 972px) {
.css-vdekd8 {
    padding: 24px;
}
}

.css-vdekd8 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 892px;
   border: 1px solid rgb(238, 238, 238);
}

@media screen and (min-width: 972px) {
.css-mkv5bb {
    font-size: 20px;
    font-weight: 700;
}
}

.css-hrl54u {
    width: 100%;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}


@media screen and (min-width: 972px) {
.css-yz4mjm {
    font-size: 18px;
    font-weight: 700;
}
}

.css-yz4mjm {
    width: 100%;
    color: rgb(255, 255, 255);
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.css-9mmu44 {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 101px;
    padding: 20px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 15px;
    background-color: rgb(245, 162, 0);
}

.css-1qgjwai {
    width: 100%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, calc(50% - 4px));
    gap: 8px;
}

@media screen and (min-width: 972px) {
.css-1kz20vy {
    font-size: 13px;
}
}

.css-1kz20vy {
    width: 100%;
    color: rgb(255, 255, 255);
    font-weight: 500;
    letter-spacing: -0.408px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-box-orient: vertical;
    white-space: break-spaces;
    -webkit-line-clamp: 2;
}

.css-1m4i83d {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 101px;
    padding: 20px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 15px;
    background-color: rgb(147, 111, 90);
}

.css-zscc4g {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 101px;
    padding: 20px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 15px;
    background-color: rgb(41, 137, 131);
}

.css-rh95y2 {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 101px;
    padding: 20px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 15px;
    background-color: rgb(46, 87, 115);
}

.css-l963rt {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 101px;
    padding: 20px;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 15px;
    background-color: rgb(249, 250, 251);
}

@media screen and (min-width: 972px) {
.css-jc17zo {
    font-size: 18px;
    font-weight: 700;
}
}

.css-jc17zo {
    width: 100%;
    color: rgb(25, 30, 35);
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (min-width: 972px) {
.css-1iaa0pc {
    font-size: 13px;
}
}

.css-1iaa0pc {
    width: 100%;
    color: rgb(90, 96, 99);
    font-weight: 500;
    letter-spacing: -0.408px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-box-orient: vertical;
    white-space: break-spaces;
    -webkit-line-clamp: 2;
}
















