@import url('https://webfontworld.github.io/pretendard/Pretendard.css');
@import url('https://webfontworld.github.io/goodchoice/Jalnan.css');
@import url('https://webfontworld.github.io/sunn/SUIT.css');
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');
@import url('https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css');
@import url('https://webfontworld.github.io/PyeongChang/PyeongChang.css');
@import url('https://webfontworld.github.io/NexonMaplestory/NexonMaplestory.css');
@import url('https://webfontworld.github.io/vitro/VitroCore.css');
@import url('https://webfontworld.github.io/locus/LocusSangsang.css');
@import url('https://webfontworld.github.io/kohi/KOHIBaeum.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    color: #fff;
}
*, *::before, *::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #222;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
li, ul, ol {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
}
em {
    font-style: normal;
}
.font01 {
    font-family: 'Pretendard';
    font-weight: 300;
}
.font02 {
    font-family: 'Jalnan';
    font-weight: 300;
}
.font03 {
    font-family: 'GmarketSans';
    font-weight: 300;
}
.font04 {
    font-family: 'SUIT';
    font-weight: 300;
}
.font05 {
    font-family: 'NexonLv1Gothic';
    font-weight: 300;
}
.font06 {
    font-family: 'PyeongChang';
    font-weight: 300;
}
.font07 {
    font-family: 'NexonMaplestory';
    font-weight: 300;
}
.font08 {
    font-family: 'VitroCore';
    font-weight: 300;
}
.font09 {
    font-family: 'LocusSangsang';
    font-weight: 300;
}
.font10 {
    font-family: 'KOHIBaeum';
    font-weight: 300;
}
body {
    background-color: #222;
}