<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.f4.main.mapper.magazineMapper">

   <select id="listMagazine" resultType="MagazineDTO">
       select * from magazine order by mnum desc
   </select>

    <insert id="insertMagazine" parameterType="MagazineDTO">
      insert into magazine values(magazine_seq.nextval,#{mtitle},sysdate,#{content},#{content2},0,#{mimage},#{mimage2})
   </insert>
   
   <update id="plusReadcount" parameterType="int">
      update magazine set readcount = readcount + 1 where mnum = #{mnum}
   </update>
   
   <update id="updateReadCount" parameterType="int">
          update magazine set readcount = readcount + 1 where mnum = #{mnum}
   </update>

   <select id="getMagazine" resultType="MagazineDTO" parameterType="map">
       select * from magazine where mnum = #{mnum}
   </select>
   
   <update id="updateMagazine" parameterType="MagazineDTO">
      update magazine set mtitle=#{mtitle}, mimage=#{mimage}, content=#{content}, mimage2=#{mimage2}, content2=#{content2} where mnum=#{mnum}
   </update>
   
   <delete id="deleteMagazine" parameterType="int">
      delete from magazine where mnum=#{mnum}
   </delete>
   
   <select id="getCount" resultType="Integer">
      select count(*) from magazine
   </select>
   
   <select id="listMagazine1" resultType="MagazineDTO" parameterType="Map">
       select * from (select rownum rn, A.* from (select * from magazine order by mnum desc )A) where rn between #{start} and #{end}
    </select>
   
   
</mapper>